
/* BEGIN MODEL */
.contain {
    width: 460px;
    height: 590px;
    margin: 0 auto ;
    position: relative;
}
.body{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
}
.bikinitop{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index:1;
}

.bikinibottom{
    width:250px;
    height: 500px ;
    position: absolute;
    top: 12%;
    left: 22%;
    z-index:1;
}

.model{
    width:60px;
    height: 77px ;
    position: absolute;
    top: 5%;
    left: 45.5%;
    z-index:1;
}

.feetleft{
    width: 25px;
    height: 41px;
    position: absolute;
    bottom: 6.5%;
    left: 40.4%;
    z-index: 1;
}

.feetright{
    width: 25px;
    height: 41px;
    position: absolute;
    bottom: 6.5%;
    right: 33.3%;
    z-index: 1;
}


.feetStyle {
    width: 500px;
    height: 1000px;
    position: absolute;
    bottom: -39%;
    right: -3.5%;
    transform: scale(0.5);
    z-index: 1
}

.handbagStyle {
    width: 500px;
    height: 1000px;
    position: absolute;
    bottom: -40.5%;
    right: -3.5%;
    transform: scale(0.5);
    z-index: 4
}

.hairStyle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -75%;
    right: -59%;
    transform: scale(0.15);
    z-index: 4
}
.backgroundStyle{
    width: "900px";
    height: "1500px";
    background-size: "cover";
    background-repeat: "no-repeat";
    position: "absolute";
    bottom: "-90%";
    right: "-50%";
    transform: "scale(0.5)";
    z-index: "-1"
}